<div class="row full">
  <div class="large-3 medium-4 columns">
  <%= render 'shared/sidebar_panel' %>
  </div>

  <div class="large-9 medium-8 columns">
    <%= calendar @events, :start_day => :monday do |event| %> 
      <div><%= event.name %></div>
    <% end %>
  </div>
</div>

<div id="transactionModal" class="reveal-modal small" data-reveal>
  <h2>What do you want to add?</h2>
    <p class="lead">Pick one of the transaction and enter the amount:</p>
    <%= render 'shared/transaction_form' %>

  <a class="close-reveal-modal">&#215;</a>
</div>

