    <div class="sidebar panel">
      <h4>This Month</h4>
      <table>
        <tr>
          <td>Income</td><td>Rp 3.000.000,-</td>
        </tr>
        <tr>
          <td>Expenses</td><td>Rp 1.200.000,-</td>
        </tr>
        <tr>
          <td>Net Income</td><td>Rp 1.800.000,-</td>
        </tr>
      </table>

      <h4>Net Worth</h4>
      <div class="panel">
        <h5>Rp 7.850.000,-</h5>
      </div>

      <h4>Target Savings</h4>
      <p>IF ada target savings, tampilkan:</p>
      <ul>
        <li><a href="#!">Target Savings 1</a></li>
        <li><a href="#!">Target Savings 2</a></li>
        <li><a href="#!">Target Savings 3</a></li>
      </ul>
      <p>ELSE:</p>
      <p>You don't have any target savings! Why don't you make one now..</p>

      <a class="small success button"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;Add Target Saving</a>
      <a class="small button"><i class="fa fa-tasks fa-lg"></i>&nbsp;&nbsp;See Target Saving</a>
    </div>