<div class="row">
  <div class="large-12">
    <h1>Celeng.in Application</h1>
    <h3>Reach your dreams and be your own bank!</h3>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <h4>What is Celeng.in</h4>
    <p>Celeng.in is an online application to help you reach your dreams. It is designed to help you manage your money easily, and beautifuly. You can easily write your income, what you spend and set your goals (eg. Buy your dream car).</p>
  </div>
  <div class="large-8 columns">
    <img src="http://placehold.it/1024x600&text=What is Celeng.in" alt="what image">
  </div>

</div>
