/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require bootstrap-datepicker
 *= require_tree .
 */

html {-webkit-font-smoothing: antialiased !important;}

.row.full {min-width:100% !important;}
.panel {background: rgba(242,242,242,0.75) !important;}

.gravatar_image img {margin: 0 0 2px; float: none; display: inline;}
.calendar td {width: 14.28% !important;}
.day a {display: block !important;}
.target_amount {font-size: 0.7em; margin-top: -18px; margin-left: 10px; position: absolute;}
.sidebar .target_amount {margin-top: -15px !important;}
.sidebar h5 {font-weight: bolder;}
.trophy {margin-top: -8px;}

.alert-box.success {background-color: rgba(67,172,106,0.85) !important;}
.alert-box.alert {background-color: rgba(240,65,36,0.85) !important;}

.green {color: rgb(67,172,106) !important;}
.blue {color: rgb(0,140,186) !important;}
.red {color: rgb(240,65,36) !important;}

.saving_image {width:100%;}
.progress .meter {background-color: orange !important;}
.tooltip {font-size: small !important;}

.full_width_table {width: 100% !important;}
.push_v10 {margin-top: 10px !important;}
.pull_h10 {margin-left: 10px !important;}

/*
 * Timeline Style
 */
.timeline {list-style-type: none; background: url(timeline.jpg) top left repeat-y; margin-left: 150px;}
.timeline li.panel {width: 40%;}
.timeline li {margin-left: 15px;}
.timeline li i {position: absolute; display: block; margin-left: -43px;}
.timeline .saving_time {position: absolute; display: block; margin-left: -145px; margin-top: -2px; font-size: small;}
.timeline .saving_amount {font-weight: bolder;}
.timeline p {margin-top: 15px !important;}

