/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require bootstrap-datepicker
 *= require_tree .
 */

.row.full {min-width:100% !important;}
.panel {background: rgba(242,242,242,0.75) !important;}

.gravatar_image img {margin: 0 0 2px; float: none; display: inline;}
.target_amount {font-size: 0.7em; margin-top: -18px; margin-left: 10px; position: absolute;}
.sidebar .target_amount {margin-top: -15px !important;}
.calendar td { width: 14.28%; }
.day a {display: block;}

.alert-box.success {background-color: rgba(67,172,106,0.85) !important;}
.alert-box.alert {background-color: rgba(240,65,36,0.85) !important;}

.full_width_table {width: 100%;}
.push_v10 {margin-top: 10px;}
.pull_h10 {margin-left: 10px;}